<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="general" label="COM_HECMAILING_PARAMTAB_GENERAL_LABEL"	description="COM_HECMAILING_PARAMTAB_GENERAL_DESC"	>
		<field name="debug" type="list" default="0" label="COM_HECMAILING_DEBUG_LABEL" description="COM_HECMAILING_DEBUG_DESC">
			<option value="0">COM_HECMAILING_OPTION_NO</option>
			<option value="1">COM_HECMAILING_OPTION_YES</option>
			
		</field>
		<field name="show_mail_sent" type="list" default="1" label="COM_HECMAILING_SHOW_MAIL_SENT_LABEL" description="COM_HECMAILING_SHOW_MAIL_SENT_DESC">
			<option value="0">COM_HECMAILING_OPTION_NO</option>
			<option value="1">COM_HECMAILING_OPTION_YES</option>
			
		</field>
	</fieldset>
	<fieldset name="security"
		label="COM_HECMAILING_PARAMTAB_SECURITY_LABEL"
		description="COM_HECMAILING_PARAMTAB_SECURITY_DESC"
	>
		<field name="usertype" type="text" 
				default="Administrator;Super Administrator" size="50" 
				label="COM_HECMAILING_USER_TYPE_ALLOWED_LABEL" description="COM_HECMAILING_USER_TYPE_ALLOWED_DESC" />
		<field name="groupaccess" type="text" 
				default="" size="50" 
				label="COM_HECMAILING_ALLOWED_USERS_GROUP_NAME_LABEL" description="COM_HECMAILING_ALLOWED_USERS_GROUP_NAME_DESC" />
		<field name="send_all" type="list" default="0" label="COM_HECMAILING_SEND_ALL_LABEL" description="COM_HECMAILING_SEND_ALL_DESC">
			<option value="0">COM_HECMAILING_OPTION_NO</option>
			<option value="1">COM_HECMAILING_FIRST</option>
			<option value="2">COM_HECMAILING_LAST</option>
		</field>
		<field name="can_create_dir" type="list" default="1" label="COM_HECMAILING_CAN_CREATE_DIR_LABEL" description="COM_HECMAILING_CAN_CREATE_DIR_DESC">
			<option value="0">COM_HECMAILING_OPTION_NO</option>
			<option value="1">COM_HECMAILING_OPTION_YES</option>
			
		</field>
	</fieldset>
	<fieldset name="mail"	label="COM_HECMAILING_PARAMTAB_MAIL_LABEL"	description="COM_HECMAILING_PARAMTAB_MAIL_DESC" addfieldpath="/administrator/components/com_hecmailing/models/fields">
		<field name="ask_select_group" type="radio" default="1" label="COM_HECMAILING_ASK_SELECT_GROUP_LABEL" description="COM_HECMAILING_ASK_SELECT_GROUP_DESC">
			<option value="0">COM_HECMAILING_OPTION_NO</option>
			<option value="1">COM_HECMAILING_OPTION_YES</option>
		</field>
		<field name="default_send_mode" type="radio" default="0" label="COM_HECMAILING_DEFAULT_SEND_MODE_LABEL" description="COM_HECMAILING_DEFAULT_SEND_MODE_DESC">
			
			<option value="0">COM_HECMAILING_SEND_MODE_IMMEDIATE</option>
			<option value="1">COM_HECMAILING_SEND_MODE_DELAYED</option>
			
		</field>
		<field name="backup_mail" type="radio" default="0" label="COM_HECMAILING_BACKUP_SENT_EMAIL_LABEL" description="COM_HECMAILING_BACKUP_SENT_EMAIL_DESC">
			<option value="0">COM_HECMAILING_OPTION_NO</option>
			<option value="1">COM_HECMAILING_OPTION_YES</option>
		</field>
		<field name="image_incorpore" type="radio" default="1" label="COM_HECMAILING_DEFAULT_IMAGE_IN_CONTENT_LABEL" description="COM_HECMAILING_DEFAULT_IMAGE_IN_CONTENT_DESC">
			<option value="0">COM_HECMAILING_OPTION_NO</option>
			<option value="1">COM_HECMAILING_OPTION_YES</option>
		</field>
		<field name="excluded_domains" type="multistring" width="400px" default="" label="COM_HECMAILING_EXCLUDED_DOMAIN_LABEL" label_new="COM_HECMAILING_EXCLUDED_DOMAIN_NEWLABEL" description="EXCLUDED_DOMAIN_DESC" filter="domain" />
			
		<field name="send_to_blocked" type="list" default="0" label="COM_HECMAILING_SEND_TO_BLOCKED_LABEL" description="COM_HECMAILING_SEND_TO_BLOCKED_LABEL">
			<option value="0">COM_HECMAILING_OPTION_NO</option>
			<option value="1">COM_HECMAILING_YES_IF_ALL</option>
			<option value="2">COM_HECMAILING_YES_IF_USER</option>
			<option value="3">COM_HECMAILING_YES_FOR_ALL</option>
		</field>
		<field name="send_count" type="text" default="1" label="COM_HECMAILING_SEND_COUNT_LABEL" description="COM_HECMAILING_SEND_COUNT_DESCR"></field>
		<field name="default_sender" type="radio" default="1" label="COM_HECMAILING_DEFULT_SENDER_LABEL" description="COM_HECMAILING_DEFULT_SENDER_DESC">
			<option value="0">COM_HECMAILING_DEFULT_SENDER_DEFAULT_CONNECTED_USER</option>
			<option value="1">COM_HECMAILING_DEFULT_SENDER_DEFAULT_WEBSITE</option>
			<option value="2">COM_HECMAILING_DEFULT_SENDER_DEFAULT_GROUP</option>
		</field>
	</fieldset>
	<fieldset name="path" label="COM_HECMAILING_PARAMTAB_PATH_LABEL"	description="COM_HECMAILING_PARAMTAB_PATH_DESC"	>
		<field name="attach_path" type="text" default="images/stories/hecmailing" label="COM_HECMAILING_ATTACH_PATH_LABEL" description="COM_HECMAILING_ATTACH_PATH_DESC" width="80" />
		<field name="browse_path" type="text" default="images/stories" label="COM_HECMAILING_BASE_BROWSE_PATH_LABEL" description="COM_HECMAILING_BASE_BROWSE_PATH_DESC" width="80" />
		
	</fieldset>
	<fieldset name="read"	label="COM_HECMAILING_PARAMTAB_READ_LABEL"	description="COM_HECMAILING_PARAMTAB_READ_DESC"	>
		<field name="default_use_readtag" type="radio" default="0" label="COM_HECMAILING_DEFAULT_USE_READTAG_LABEL" description="COM_HECMAILING_DEFAULT_USE_READTAG_DESC" >
			<option value="0">COM_HECMAILING_READTAG_POSITION_NONE</option>
			<option value="1">COM_HECMAILING_READTAG_POSITION_TOP</option>
			<option value="2">COM_HECMAILING_READTAG_POSITION_BOTTOM</option>
			<option value="3">COM_HECMAILING_READTAG_POSITION_OTHER</option>
		</field>
		<field name="default_readtag_position" type="radio" default="0" label="COM_HECMAILING_DEFAULT_USE_READTAG_LABEL" description="COM_HECMAILING_DEFAULT_USE_READTAG_DESC" />
		<field name="readtag_template" type="editor" default="&lt;div id='com_hecmailing_readtag_container'&gt;&lt;img src='{readtag_image_url}' alt='{readtag_default_text}' /&gt;&lt;/div&gt;" />	
		
		
		<field name="readtag_image" type="media" label="COM_HECMAILING_READTAG_IMAGE_LABEL" description="COM_HECMAILING_READTAG_IMAGE_DESC" default="components/com_hecmailing/images/pix.png" />
	</fieldset>
	<fieldset name="editor"
		label="COM_HECMAILING_PARAMTAB_EDITOR_LABEL"
		description="COM_HECMAILING_PARAMTAB_EDITOR_DESC"
	>
		<field name="edit_width" type="text" default="500" size="5" label="COM_HECMAILING_EDITOR_WIDTH_LABEL" description="COM_HECMAILING_EDITOR_WIDTH_DESC" />
		<field name="edit_height" type="text" default="400" size="5" label="COM_HECMAILING_EDITOR_HEIGHT_LABEL" description="COM_HECMAILING_EDITOR_HEIGHT_DESC" />
		<field name="attach_input_count" type="text" default="0" size="2" label="COM_HECMAILING_ATTACH_INPUT_COUNT_LABEL" description="COM_HECMAILING_ATTACH_INPUT_COUNT_DESC" />
		<field name="default_signature" type="editor" default="" label="COM_HECMAILING_SIGNATURE_LABEL" description="COM_HECMAILING_SIGNATURE_DESC" filter="safehtml" />
	</fieldset>
	<fieldset name="captcha"
		label="COM_HECMAILING_PARAMTAB_CAPTCHA_LABEL"
		description="COM_HECMAILING_PARAMTAB_CAPTCHA_DESC"
	>
		<field name="captcha_use" type="radio" default="1" label="COM_HECMAILING_USE_CAPTCHA_LABEL" description="COM_HECMAILING_USE_CAPTCHA_DESC">
			<option value="0">COM_HECMAILING_OPTION_NO</option>
			<option value="1">COM_HECMAILING_OPTION_YES</option>
		</field>
		<field name="captcha_private_key" type="text" default="6LexAQwAAAAAAKTT3bwI9SR2mCAfExdLlS-DHfQt" label="COM_HECMAILING_CAPTCHA_PRIVATEKEY_LABEL" description="COM_HECMAILING_CAPTCHA_PRIVATEKEY_DESC" />
		<field name="captcha_public_key" type="text" default="6LexAQwAAAAAANErhkc2zLD3wmsiZWeU1Cstc50_" label="COM_HECMAILING_CAPTCHA_PUBLICKEY_LABEL" description="COM_HECMAILING_CAPTCHA_PUBLICKEY_DESC" />
		<field name="captcha_theme" type="list" default="0" label="COM_HECMAILING_CAPTCHA_THEME_LABEL" description="COM_HECMAILING_CAPTCHA_THEME_DESC">
			<option value="">COM_HECMAILING_CAPTCHA_THEME_STANDARD</option>
			<option value="red">COM_HECMAILING_CAPTCHA_THEME_RED</option>
			<option value="white">COM_HECMAILING_CAPTCHA_THEME_WHITE</option>
			<option value="clean">COM_HECMAILING_CAPTCHA_THEME_CLEAN</option>
			<option value="blackglass">COM_HECMAILING_CAPTCHA_THEME_BLACK</option>
		</field>
		<field name="captcha_show_logged" type="radio" default="1" label="COM_HECMAILING_CAPTCHA_FORLOGGED_LABEL" description="COM_HECMAILING_CAPTCHA_FORLOGGED_DESC">
			<option value="0">COM_HECMAILING_OPTION_NO</option>
			<option value="1">COM_HECMAILING_OPTION_YES</option>
		</field>
	</fieldset>
		<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_hecmailing"
			section="component"
		/>
	</fieldset>
</config>